{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Bienvenue sur le forum de la HES-SO Valais//Wallis</h1>
    <img src="../static/images/img.png" alt="Logo HES-SO">
    <div class="button-container">
        <button onclick="location.href='{% url 'opinions' %}'">Opinions</button>
        <button onclick="location.href='{% url 'question_reponses' %}'">Question réponses</button>
    </div>
</body>
</html>
